# Ambiente Virtual (VENV)
venv/
.venv/
env/
ENV/

# Arquivos temporários do Python (Compilados)
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook (Arquivos temporários e checkpoints)
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.local
.chronicle

# Arquivos do Sistema Operacional e Editores
.DS_Store
Thumbs.db
.vscode/
.idea/

# Dados brutos
data/raw/*
!data/raw/.gitkeep

# Dados processados em CSV
data/processed/*
!data/processed/.gitkeep

# Permite subir os zips processados
data/zipped/*
!data/zipped/.gitkeep
!data/zipped/*.zip